/* Starting style rules for mobile screens*/
@media only screen and (min-width: 200px) and (max-width: 767px) {
    .container{
        display: grid;
        border-style: inset;
        border-color: red;
        border-width: auto;
        background-color: bisque;
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 250px 400px 100px;
        grid-template-areas: 
        "hd au"
        "hd au"
        "main main"
        "ft ft"
    }
    #box1{
        grid-area: hd;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color: lightsalmon;
        outline-offset: -10px;
        justify-content: center;
        padding-left: 25px;
        padding-top: 35px;
        font-size: x-large;
    
    }
    
    #box2{
        grid-area: au;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:darkseagreen ;
        outline-offset: -10px;
        justify-content: center;
    }
    #box2_in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 42% 1fr;
        grid-template-areas: 
        "ausm photo"
        "ausm photo"
        "bio bio";
        justify-content: center;
        padding-top: 12px;
        padding-left: 12px;
        padding-right: 10px;
        padding-bottom: 20px;
        width: fit-content;
        block-size: fit-content;    
    }
    #un{
        grid-area: ausm;
        font-style:italic;
        font-size: 15pt;
        font-weight: bold;
    }
    #deux{
        grid-area: photo;
    }
    #trois{
        grid-area: bio;
        font-size: 9pt;
    }
    
    #box3{
        grid-area: main;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
    }
    #box3_in{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15% 50%;
        grid-template-areas: 
        "head head head"
        "pg pg pg"
        ;
        justify-content: center;
        padding-left: 20px;
        padding-right: 10px;
    }
    #flavor{
        grid-area: head;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }
    #lorem{
        grid-area: pg;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8pt;
    
    }
    
    #box4{
        grid-area: ft;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:goldenrod;
        outline-offset: -10px;
        justify-content: center;
        }
        #box4_in{
            display: flex;
            align-content: space-around;
            justify-content: center;
            padding-top: 30px;
        }
        
        #uno{
            margin: 10px;    
        }
        #dos{
            margin: 10px;    
        }
        #tres{
            margin: 10px;    
        }
        #quatro{
            margin: 10px;    
        }
        #cinco{
            margin: 10px;    
        }
        
        .photo{
            background-image: url('authorphoto.jpg');
            background-size: cover;
            background-position: center;
            height: 100px;
            width: 100px;
            border-radius: 80%;  
            }
    }