/* Imports for media adjustments for different sizes*/
@import "CSSFolder/BHStyleSMALL.css";
@import "CSSFolder/BHStyleMED.css";
@import "CSSFolder/BHStyleLARGE.css";

/* Selector rules*/
body{
    background-color: palevioletred;
}

div{
    display: grid;
}
header{
    display: grid;
}
footer{
    display: grid;
}







