/* Starting style rules for mobile screens*/

/* 200px x 320px*/
@media only screen and (min-width: 200px) and (max-width: 320px) {
    .container{
        display: grid;
        border-style: inset;
        border-color: red;
        border-width: auto;
        background-color: lightpink;
        width: auto;
        height: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 100px 600px 50px;
        grid-template-areas: 
        "hd hd"
        "sd sd"
        "main main"
        "ft ft"
    }
    #box1{
        grid-area: hd;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
        font-size: x-large;
    
    }
    
    #box2{
        grid-area: sd;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:rgb(247, 232, 119);
        outline-offset: -10px;
        justify-content: left;
        padding-left: 25px;
    }
    #box2_inside{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 25%);
        grid-template-areas: 
        "co"
        "list";
    }
    #cont{
        grid-area: co;
    }
    #ls{
        grid-area: list;
    }
    
    #box3{
        grid-area: main;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:blanchedalmond;
        outline-offset: -10px;
        justify-content: center;
    }
    #box3_inside{
        display: grid;
        grid-template-columns: 30% 25%;
        grid-template-rows: 45% 15% 15%;
        grid-template-areas: 
        "box1 box2"
        "box3 box3"
        "box4 box4";
        padding-left: 45px;
        font-size: x-small;
    
    }
        #info{
            grid-area: box1;
        }
    
        #one{
            grid-area: box2;
            height:150px;
            width: 100px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            padding-top: 20px;
            padding-right: 30px;
            padding-left: 25px;
            }
        
        .photo{
            display: grid;
            width: 50px;
            height: 75px;
            border: 2px solid deepskyblue;
            background-color: hotpink;
            justify-content: center;
    
            }
        #pic1{
            background-image: url('mintchoc.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic2{
            background-image: url('strawb.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic3{
            background-image: url('van.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic4{
            background-image: url('choc.jpg');
            background-size: cover;
            background-position: center;
        }
    
        #two{
            grid-area: box3;
        }
        #three{
            grid-area: box4;
        }
        #button{
            background-color: aqua;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
                       
        }
        #caption{
            font-style: italic;
            font-size: 8pt;
            width: 75px;
            padding-top: 10px;
        }
    
     #box4{
        grid-area: ft;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
        }
    }


/* 321px x 767px */
@media only screen and (min-width: 321px) and (max-width: 767px) {
    .container{
        display: grid;
        border-style: inset;
        border-color: red;
        border-width: auto;
        background-color: lightpink;
        width: auto;
        height: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 100px 600px 50px;
        grid-template-areas: 
        "hd hd"
        "sd sd"
        "main main"
        "ft ft"
    }
    #box1{
        grid-area: hd;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
        font-size: x-large;
    
    }
    
    #box2{
        grid-area: sd;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:rgb(247, 232, 119);
        outline-offset: -10px;
        justify-content: left;
        padding-left: 25px;
    }
    #box2_inside{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 25%);
        grid-template-areas: 
        "co"
        "list";
    }
    #cont{
        grid-area: co;
    }
    #ls{
        grid-area: list;
    }
    
    #box3{
        grid-area: main;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:blanchedalmond;
        outline-offset: -10px;
        justify-content: center;
    }
    #box3_inside{
        display: grid;
        grid-template-columns: 30% 25%;
        grid-template-rows: 45% 15% 15%;
        grid-template-areas: 
        "box1 box2"
        "box3 box3"
        "box4 box4";
        padding-left: 45px;
        font-size: small;
    
    }
        #info{
            grid-area: box1;
        }
    
        #one{
            grid-area: box2;
            height:150px;
            width: 150px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            padding-top: 20px;
            padding-right: 30px;
            padding-left: 25px;
            }
        
        .photo{
            display: grid;
            width: 75px;
            height: 75px;
            border: 2px solid deepskyblue;
            background-color: hotpink;
            justify-content: center;
    
            }
        #pic1{
            background-image: url('mintchoc.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic2{
            background-image: url('strawb.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic3{
            background-image: url('van.jpg');
            background-size: cover;
            background-position: center;
        }
        #pic4{
            background-image: url('choc.jpg');
            background-size: cover;
            background-position: center;
        }
    
        #two{
            grid-area: box3;
        }
        #three{
            grid-area: box4;
        }
        #button{
            background-color: aqua;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
                       
        }
        #caption{
            font-style: italic;
            font-size: 8pt;
            width: 100px;
            padding-top: 10px;
        }
    
     #box4{
        grid-area: ft;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
        }
    }