/* Imports for media adjustments for different sizes*/
@import "CSSFolder/BPStyleSMALL.css";
@import "CSSFolder/BPStyleMED.css";
@import "CSSFolder/BPStyleLARGE.css";

/* Selector rules*/
body{
    background-color: palevioletred;
}
div{
    display: grid;
}
header{
    display: grid;
}
footer{
    display: grid;
}




