/* Imports for media adjustments for different sizes*/
@import "BPStyleSMALL.css";
@import "BPStyleMED.css";
@import "BPStyleLARGE.css";

/* Selector rules*/
body{
    background-color: palevioletred;
}
div{
    display: grid;
}
header{
    display: grid;
}
footer{
    display: grid;
}




