/* Breakpoint for larger screens*/
@media(min-width: 1025px){
    .container{
        display: grid;
        border-style: inset;
        border-color: red;
        border-width: auto;
        background-color: bisque;
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 600px 100px;
        grid-template-areas: 
        "hd hd hd au"
        "main main main au"
        "ft ft ft ft";
        }
    div{
        display: flex;
        justify-content: center;}
    #box1{
        grid-area: hd;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color: lightsalmon;
        outline-offset: -10px;
        justify-content: center;
        padding-top: 25px;
        font-size: x-large;
    }
    
    #box2{
        grid-area: au;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:darkseagreen ;
        outline-offset: -5px;
        justify-content: center;
        padding-left: 20px;
    }

    #box2_in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 28% 50%;
        grid-template-areas: 
        "ausm ausm"
        "photo photo"
        "bio bio";
        justify-content: center;
        padding-left: 5px;
        padding-right: 10px;

    }
    #un{
        grid-area: ausm;
        font-style: italic;
        font-size: 20pt;
        font-weight: bold;
    }
    #deux{
        grid-area: photo
    }
    #trois{
        grid-area: bio;
        margin: auto;
    }

    #box3{
        grid-area: main;
        width: auto;
        outline: inset;
        outline-color: red;
        outline-offset: -10px;
        justify-content: center;
    }
    
    #box3_in{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15% 50%;
        grid-template-areas: 
        "head head head"
        "pg pg pg"
        ;
        justify-content: center;
        padding-left: 20px;
        padding-right: 10px;
    }
    #flavor{
        grid-area: head;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }
    #lorem{
        grid-area: pg;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }


    #box4{
        grid-area: ft;
        width: auto;
        outline: inset;
        outline-color: red;
        background-color:goldenrod;
        outline-offset: -10px;
        justify-content: center;
    }

    #box4_in{
        display: flex;
        align-content: space-around;
        justify-content: center;
        padding-top: 30px;
    }
    
    #uno{
        margin: 10px;    
    }
    #dos{
        margin: 10px;    
    }
    #tres{
        margin: 10px;    
    }
    #quatro{
        margin: 10px;    
    }
    #cinco{
        margin: 10px;    
    }
  
    .photo{
        background-image: url('../ImagesFolder/authorphoto.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 80%;  
        }

}


